*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#content{
    position: relative;
    background: red;
    height: 250px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.disabled > *{
    display: none;
}
#content > *{
    margin: 20px;
}
#timer{
    position: absolute;
    top: 0;
    right: 20px;
}
input{
    outline: none;
    border: none;
    height: 25px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    outline: none !important;
    border: none;
    cursor: pointer;
}
#start{
    position: absolute;
    display: none;
}
#start.active{
    display: block;
}